doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body
    h1 Mario Brothers Characters
    a(href='/update-cobj') Add to this table
    table
      thead
        tr
          th Name
          th Role
          th Power Level
      tbody
        each character in characters
          tr
            td= character.properties.name
            td= character.properties.role
            td= character.properties.powerlevel