doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body
    h1 Add New Mario Brothers Character
    a(href='/') Return to the homepage
    form(action='/update-cobj', method='POST')
      label(for='name') Name
      input(type='text', id='name', name='name', required)

      label(for='role') Role
      input(type='text', id='role', name='role', required)

      label(for='powerlevel') Power Level
      input(type='number', id='powerlevel', name='powerlevel', required)

      button(type='submit') Create Character